{% extends "layout.html" %}

{% block title %}
    Apology
{% endblock %}

{% block main %}
    <img alt="Sorry!" src="http://memegen.link/custom/{{ top | urlencode }}/{{ bottom | urlencode }}.jpg?alt=https://www.google.com/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwii65Do-ZrTAhWU14MKHYzkCmwQjRwIBw&url=http%3A%2F%2Fwww.catalyst.org%2Fzing%2Ffive-things-say-instead-sorry&psig=AFQjCNFgrhvx28eb9UiYWbh9LZbxay82Uw&ust=1491950206281514"/>
    <a href="javascript:history.go(-1);">Back</a>
{% endblock %}